@using BookShopViewModel.Entites.Home;
@model HomeVM
@* <!--slider sec strat-->
<
section id="slider-sec" class="slider-sec parallax" style="background: url('C:\Users\user\Desktop\BackEnd\BookShopNew\E-commerceBookShop\BookShopWeb\wwwroot\book-shop\img\Screenshot 2023-07-28 100816.png');">
</section>
<!--slider sec end--> *@
<!-- START HEADING SECTION -->
<div class="about_content">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-10  text-center text-lg-left wow slideInUp" data-wow-duration="2s">
                <h1 class="heading">Sifarişinizi rəsmiləşdirin.</h1>
                <p class="para_text">Sifarişi rəsmiləşdirdikdən sonra ən qısa zamanda sizə geri dönüş edəcəyik.</p>
            </div>
        </div>
    </div>


    <!-- START SHOP CART SECTION -->
    <div class="shop-cart wow slideInUp" data-wow-duration="2s">
        <div class="container">
  @*           <!-- START SHOP CART TABLE -->
            <div class="row pt-5">
                <div class="col-12 col-md-12  cart_table wow fadeInUp animated" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
                    <div class="table-responsive">
                        <table class="table table-bordered border-radius">
                            <thead>
                                <tr>
                                    <th class="darkcolor">Product</th>
                                    <th class="darkcolor">Price</th>
                                    <th class="darkcolor">Quantity</th>
                                    <th class="darkcolor">Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="d-table product-detail-cart">

                                            <div class="media">
                                                <div class="row no-gutters">

                                                    <div class="col-12 col-lg-2 product-detail-cart-image">
                                                        <a class="shopping-product" href="javascript:void(0)"><img src="img/shopcart-1.jpg" alt="Generic placeholder image"></a>
                                                    </div>

                                                    <div class="col-12 col-lg-10 mt-auto product-detail-cart-data">
                                                        <div class="media-body ml-lg-3">
                                                            <h4 class="product-name"><a href="product-detail.html">Love Does</a></h4>
                                                            <p class="product-des">We offer the most complete in the country</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h4 class="text-center amount">$130.00</h4>
                                    </td>
                                    <td class="text-center">
                                        <div class="quote text-center mt-1">
                                            <input type="number" placeholder="1" class="quote" min="1" max="100">
                                        </div>
                                    </td>
                                    <td>
                                        <h4 class="text-center amount">$136.00</h4>
                                    </td>
                                    <td class="text-center"><a class="btn-close" href="javascript:void(0)"><i class="lni-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-table product-detail-cart">

                                            <div class="media">
                                                <div class="row no-gutters">

                                                    <div class="col-12 col-lg-2 product-detail-cart-image">
                                                        <a class="shopping-product" href="javascript:void(0)"><img src="img/shopcart-2.jpg" alt="Generic placeholder image"></a>
                                                    </div>

                                                    <div class="col-12 col-lg-10 mt-auto product-detail-cart-data">
                                                        <div class="media-body ml-lg-3">
                                                            <h4 class="product-name"><a href="product-detail.html">The Last Stand</a></h4>
                                                            <p class="product-des">We offer the most complete in the country</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h4 class="text-center d-table-price amount">$100.00</h4>
                                    </td>
                                    <td class="text-center">
                                        <div class="quote text-center mt-1">
                                            <input type="number" placeholder="1" class="quote" min="1" max="100">
                                        </div>
                                    </td>
                                    <td>
                                        <h4 class="text-center amount">$106.00</h4>
                                    </td>
                                    <td class="text-center"><a class="btn-close" href="javascript:void(0)"><i class="lni-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-table product-detail-cart">

                                            <div class="media">
                                                <div class="row no-gutters">

                                                    <div class="col-12 col-lg-2 product-detail-cart-image">
                                                        <a class="shopping-product" href="javascript:void(0)"><img src="img/shopcart-1.jpg" alt="Generic placeholder image"></a>
                                                    </div>

                                                    <div class="col-12 col-lg-10 mt-auto product-detail-cart-data">
                                                        <div class="media-body ml-lg-3">
                                                            <h4 class="product-name"><a href="product-detail.html">The Road</a></h4>
                                                            <p class="product-des">We offer the most complete in the country</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h4 class="text-center d-table-price amount">$150.00</h4>
                                    </td>
                                    <td class="text-center">
                                        <div class="quote text-center mt-1">
                                            <input type="number" placeholder="1" class="quote" min="1" max="100">
                                        </div>
                                    </td>
                                    <td>
                                        <h4 class="text-center amount">$150.00</h4>
                                    </td>
                                    <td class="text-center"><a class="btn-close" href="javascript:void(0)"><i class="lni-trash"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="apply_coupon">
                        <div class="row">
                            <div class="col-12 text-left">
                                <a href="shop-cart.html" class="btn yellow-color-green-gradient-btn">UPDATE</a>
                                <a href="shop-cart.html" class="btn green-color-yellow-gradient-btn ">CHECKOUT</a>
                            </div>
                            <!--                            <div class="col-6  coupon text-left">-->
                            <!--                                <a href="shop-cart.html" class="btn pink-color-black-gradient-btn ">CHECKOUT</a>-->
                            <!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END SHOP CART TABLE --> *@
            <!-- START SHOP CART CHECKOUT FORM -->
            <div class="row pt-5">
                <div class="col-12 col-lg-6 wow slideInLeft" data-wow-duration="2s">
                    <div class="calculate-shipping">
                        <h4 class="heading">Əlaqə məlumatlarınızı daxil edin</h4>
    
                        
                            <form  id="contact" class="contact-form" id="contact-form-data" method="post">

                            <div class="col-12 col-md-6">
                                <input type="hidden" asp-for="@Model.Book.Price" class="form-control" placeholder="Soy Ad">
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="hidden" asp-for="@Model.Book.Name" class="form-control" placeholder="Soy Ad">
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="hidden" asp-for="@Model.Book.Author" class="form-control" placeholder="Soy Ad">
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="hidden" asp-for="@Model.Book.Id" class="form-control" placeholder="Soy Ad">
                            </div>

                                <div class="row my-form">
                                    <div class="col-md-12 col-sm-12">
                                        <div id="result"></div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                    <input asp-for="@Model.BasketContactVM.Name" class="form-control" placeholder="Ad" required="required">
                                    <span asp-validation-for="@Model.BasketContactVM.Name" style="color:red;"></span>
                                    </div>
                                    <div class="col-12 col-md-6">
                                    <input asp-for="@Model.BasketContactVM.Surname" class="form-control" placeholder="Soy Ad">
                                    <span asp-validation-for="@Model.BasketContactVM.Surname" style="color:red;"></span>
                                    </div>
                                <div class="col-12 col-md-6">
                                    <input asp-for="@Model.BasketContactVM.Phone" class="form-control" placeholder="Telefon nömrəsi " required="required">
                                    <span asp-validation-for="@Model.BasketContactVM.Phone" style="color:red;"></span>
                                </div>
                                <div class="col-12 col-md-6">
                                    <input asp-for="@Model.BasketContactVM.Email" class="form-control" placeholder="Email">
                                    <span asp-validation-for="@Model.BasketContactVM.Email" style="color:red;"></span>
                                </div>
                                <div class="col-12">
                                    <textarea asp-for="@Model.BasketContactVM.Message" class="form-control" placeholder="Təklif və ya iradınız.(Əgər varsa)" rows="7"></textarea>
                                    <span asp-validation-for="@Model.BasketContactVM.Message" style="color:red;"></span>
                                </div>
                                    <div class="col-12"> 
                                        <button class="btn btn-success" type="submit">
                                            Sifariş et
                                        </button>
                                    </div>
                                </div>

                            </form>

                        
          @*             <form>
                            <div class="form-group">
                                <label class="select form-control">
                                    <select name="country" id="states">
                                        <option>USA</option>
                                        <option>Canada</option>
                                        <option>Chile</option>
                                        <option>France</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="select form-control">
                                    <select name="country" id="state">
                                        <option>USA</option>
                                        <option>Canada</option>
                                        <option>Chile</option>
                                        <option>France</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Postal/Zip Code">
                            </div>
                            <a href="#" class="btn yellow-color-green-gradient-btn">Calculate</a>
                        </form> *@
                    </div>
                </div>
                <div class="col-12 col-lg-6 wow slideInRight" data-wow-duration="2s">
                    <div class="card-total">
                        <h4 class="heading">Kitab Məlumatları</h4>
                        <table>
                            <tr>
                                <td>Ödəniləcək məbləğ</td>
                                <td>@Model.Book.Price Manat</td>

                            </tr>
                            <tr>
                         
                            </tr>
                            <tr>
                                <td>Kitabın adı</td>
                                <td>@Model.Book.Name</td>
                            </tr>
                            <tr>
                                <td>Müəllif</td>
                                <td>@Model.Book.Author</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
            <!-- END SHOP CART CHECKOUT FORM -->

        </div>
    </div>
    <!-- END SHOP CART SECTION-->

</div>
<!-- END HEADING SECTION -->