@using BookShopViewModel.Entites.Home;
@{
    ViewData["Title"] = "Detail";
}
@model HomeVM

<!-- END HEADER NAVIGATION -->
<!--slider sec strat-->
<section id="slider-sec" class="slider-sec parallax" style="background: url('/book-shop/img/kitab.jpg');">
</section>
<!--slider sec end-->
<!-- START HEADING SECTION -->
<div class="about_content">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="product-body">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb text-center text-lg-left">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Categories</a></li>
                            <li class="breadcrumb-item" aria-current="page"><a href="javascript:void(0)">Books</a></li>
                            <li class="breadcrumb-item"><a class="active" href="javascript:void(0)">The Road</a></li>
                        </ol>
                    </nav>
                    <div class="pro-detail-sec row">
                        <div class="col-12">
                            <h4 class="pro-heading text-center text-lg-left">Books  Collections</h4>
                            <p class="pro-text text-center text-lg-left">@Model.Book.ShortDescription</p>
                        </div>
                    </div>
                    <div class="row product-list product-detail">

                        <div class="col-12 col-lg-6 product-detail-slider">
                            <div class="wrapper">
                                <div class="Gallery swiper-container img-magnifier-container" id="gallery">
                                    <div class="swiper-wrapper myimgs">
                                        <div class="swiper-slide"> <a href="~/manage/img/book/@Model.Book.ImageUrl" data-fancybox="1" title="Zoom In"><img class="myimage" src="~/manage/img/book/@Model.Book.ImageUrl" alt="gallery" /></a></div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-12 col-lg-6 text-center text-lg-left">
                            <div class="product-single-price">
                                <h4><span class="real-price">@Model.Book.Price Manat</span> <span><del></del></span></h4>
                                <p class="pro-description">@Model.Book.ShortDescription</p>
                            </div>

                            <div class="product-checklist">
                                <ul>
                                    <li><i class="fas fa-check"></i> Satisfaction 100% Guaranteed</li>
                                    <li><i class="fas fa-check"></i> free shipping on orders over Manat 20</li>
                                    <li><i class="fas fa-check"></i> 1 days easy Return</li>
                                </ul>
                            </div>

                            <div class="row product-quantity input_plus_mins no-gutters">
                                <div class="col-12 col-lg-9">
                                    <button class="btn green-color-yellow-gradient-btn">ADD TO CART</button>
                                 @*    <a href="https://wa.me/+994556280899" class="btn green-color-yellow-gradient-btn">ADD TO CART</a> *@
                                </div>
                            </div>

                            @*<div class="dropdown-divider"></div>*@

                            <div class="product-tags-list">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><p class="d-inline">SKU: <span>@Model.Book.SKU</span></p></li>
                                        <li class="breadcrumb-item"><span class="d-inline">Kateqoriya: <a href="javascript:void(0)">@Model.Book.Category.Name</a></span></li>
                                    </ol>
                                </nav>
                            </div>

                            <div class="share-product-details">
                                <ul class="share-product-icons">
                                    <li><p>Share Link:</p></li>
                                    <li><a href="javascript:void(0)" class="facebook-bg-hvr"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                    <li><a href="javascript:void(0)" class="twitter-bg-hvr"><i class="fab fa-twitter" aria-hidden="true"></i></a> </li>
                                    <li><a href="javascript:void(0)" class="linkedin-bg-hvr"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                                    <li><a href="javascript:void(0)" class="instagram-bg-hvr"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>

                                </ul>
                            </div>
                        </div>

                        <div class="col-12 mt-4 mb-4">
                            <div class="row no-gutters product-all-details">

                                <ul class="col-12 nav nav-tabs" id="myTab" role="tablist">
                                    <li class="col-6 nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Long Description</a>
                                    </li>
                                    @*     <li class="col-6 nav-item">
                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Customer Reviews  (2)</a>
                                    </li> *@
                                </ul>
                                <div class="col-12 tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <p class="product-tab-description text-center text-lg-left">@Model.Book.LongDescription</p>

                                    </div>

                                    <div class="tab-pane fade reviews" id="contact" role="tabpanel" aria-labelledby="contact-tab">

                                        <div class="media">
                                            <div class="row no-gutter">
                                                <div class="col-12 col-lg-2 p-0">

                                                    <div class="row no-gutters">
                                                        <div class="col-12 d-flex  justify-content-center">
                                                            <img src="~/book-shop/img/user.jpg" alt="Generic placeholder image">
                                                        </div>
                                                        <div class="col-12 d-flex mt-2 justify-content-center">
                                                            <ul class="user-rating">
                                                                <li><a href="#"><i class="lni-star-filled"></i></a></li>
                                                                <li><a href="#"><i class="lni-star-filled"></i></a></li>
                                                                <li><a href="#"><i class="lni-star-filled"></i></a></li>
                                                                <li><a href="#"><i class="lni-star-filled"></i></a></li>
                                                                <li><a href="#"><i class="lni-star"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-12 col-lg-10 p-0">
                                                    <div class="media-body">
                                                        <span class="text-center text-lg-left d-block">27 Aug 2017</span>
                                                        <h5 class="mb-2 text-center text-lg-left">Media heading</h5>
                                                        <p class="text-center text-lg-left">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam.</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="row no-gutter">
                                                <div class="col-12 col-lg-2 p-0">

                                                    <div class="row no-gutters">
                                                        <div class="col-12 d-flex  justify-content-center">
                                                            <img src="~/book-shop/img/user2.jpg" alt="Generic placeholder image">
                                                        </div>
                                                        <div class="col-12 d-flex mt-2 justify-content-center">
                                                            <ul class="user-rating">
                                                                <li><a href="#"><i class="lni-star-filled"></i></a></li>
                                                                <li><a href="#"><i class="lni-star-filled"></i></a></li>
                                                                <li><a href="#"><i class="lni-star-filled"></i></a></li>
                                                                <li><a href="#"><i class="lni-star-filled"></i></a></li>
                                                                <li><a href="#"><i class="lni-star"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-12 col-lg-10 p-0">
                                                    <div class="media-body ">
                                                        <span class="text-center text-lg-left d-block">27 Aug 2017</span>
                                                        <h5 class="mb-2 text-center text-lg-left">Media heading</h5>
                                                        <p class="text-center text-lg-left">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam.</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        @*         <div class="row pl-2 pr-2">
                                        <div class="col-12 d-flex mb-4 mt-3">
                                        <h5 class="text-nowrap">Add Review</h5>
                                        <hr class="w-100 ml-5" />
                                        </div>
                                        <div class="col-12">
                                        <form class="getin_form border-form" id="register">
                                        <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                        <div class="form-group bottom35">
                                        <input type="text" class="form-control" placeholder="Name*" required="" id="registerName">
                                        </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                        <div class="form-group bottom35">
                                        <input type="email" class="form-control" placeholder="Email*" required="" id="registerEmail">
                                        </div>
                                        </div>
                                        <div class="col-12 col-lg-2 text-center text-lg-left">
                                        <h5 class="text-nowrap">Your Rating</h5>
                                        </div>
                                        <div class="col-12 col-lg-10 text-center text-lg-left">
                                        <ul class="user-rating">
                                        <li><a href="#"><i class="lni-star-filled"></i></a></li>
                                        <li><a href="#"><i class="lni-star-filled"></i></a></li>
                                        <li><a href="#"><i class="lni-star-filled"></i></a></li>
                                        <li><a href="#"><i class="lni-star-filled"></i></a></li>
                                        <li><a href="#"><i class="lni-star"></i></a></li>
                                        </ul>
                                        </div>
                                        <div class="col-12">
                                        <div class="form-group">
                                        <!--                                                                            <label for="comment">Your Rating:</label>-->
                                        <textarea class="form-control textareaclass" rows="5" id="comment" placeholder="Your Review"></textarea>
                                        </div>
                                        </div>

                                        <div class="col-12 mt-3">
                                        <div class="form-group d-flex justify-content-center d-lg-block">
                                        <button class="text-center btn green-color-yellow-gradient-btn">Add Review</button>
                                        </div>
                                        </div>

                                        </div>
                                        </form>
                                        </div>
                                        </div> *@

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>

    <!--START LATEST ARRIVALS-->
    <div class="lastest_arrivals">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-4">
                    <h1>Related Books</h1>
                </div>

                <div class="col-12">
                    <div class="lastest_featured_products owl-carousel owl-theme">

                        @foreach (var books in Model.Books)
                        {

                            <div class="lastest_arrival_items item">
                                <a href="product-detail.html" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                                <div class="card">
                                    <span class="product-type">NEW</span>

                                    <div class="image-holder">
                                        <a href="~/manage/img/book/@books.ImageUrl" data-fancybox="lastest_product" data-title="Shirt Name">
                                            <img src="~/manage/img/book/@books.ImageUrl" class="card-img-top" alt="Lastest Arrivals 1">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <a asp-controller="Home" asp-action="Detail">
                                                    <h5 class="card-title">
                                                        @books.Name
                                                    </h5>
                                                </a>
                                            </div>
                                            <div class="col-12 text-center">
                                                <p class="card-text"> @books.Price AZN</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--END LATEST ARRIVALS-->

</div>
<!-- END HEADING SECTION -->
<!--footer1 sec start-->
