@using System.Security.Claims;
@{
    ViewData["Title"] = "Detail";
}
@model HomeVM

<!-- END HEADER NAVIGATION -->
<!--slider sec strat-->
<section id="slider-sec" class="slider-sec parallax" style="background: url('https://static.pexels.com/photos/267586/pexels-photo-267586.jpeg');">
</section>
<!--slider sec end-->
<!-- START HEADING SECTION -->
<div class="about_content">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="product-body">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb text-center text-lg-left">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Əsas səhifə</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Kateqoriyalar</a></li>
                            <li class="breadcrumb-item" aria-current="page"><a href="javascript:void(0)">Kitablar</a></li>
                            <li class="breadcrumb-item"><a class="active" href="javascript:void(0)">Yol</a></li>
                        </ol>
                    </nav>
                    <div class="pro-detail-sec row">
                        <div class="col-12">
                            <h4 class="pro-heading text-center text-lg-left">@Model.Book.Name</h4>
                            <p class="pro-text text-center text-lg-left">@Model.Book.ShortDescription</p>
                        </div>
                    </div>
                    <div class="row product-list product-detail">

                        <div class="col-12 col-lg-6 product-detail-slider">
                            <div class="wrapper">
                                <div class="Gallery swiper-container img-magnifier-container" id="gallery">
                                    <div class="swiper-wrapper myimgs">
                                        <div class="swiper-slide"> <a href="~/manage/img/book/@Model.Book.ImageUrl" data-fancybox="1" title="Zoom In"><img class="myimage" src="~/manage/img/book/@Model.Book.ImageUrl" alt="gallery" /></a></div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-12 col-lg-6 text-center text-lg-left">
                            <div class="product-single-price">
                                <h4><span class="real-price">@Model.Book.Price AZN</span> <span><del></del></span></h4>


                            </div>

                            <div class="product-checklist">
                                <ul>
                                    <li><i class="fas fa-check"></i> Satisfaction 100% Guaranteed</li>
                                    <li><i class="fas fa-check"></i> free shipping on orders over Manat 20</li>
                                    <li><i class="fas fa-check"></i> 1 days easy Return</li>
                                </ul>
                            </div>

                            <div class="row product-quantity input_plus_mins no-gutters">
                                <div class="col-12 col-lg-9">
                                    <a asp-controller="Home" asp-action="AddBasket" asp-route-Id="@Model.Book.Id" class="btn green-color-yellow-gradient-btn">Sifariş et</a>
                                    @*    <a href="https://wa.me/+994556280899" class="btn green-color-yellow-gradient-btn">ADD TO CART</a> *@
                                </div>
                            </div>

                            @*<div class="dropdown-divider"></div>*@

                            <div class="product-tags-list">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><p class="d-inline">Məhsulun kodu: <span>@Model.Book.SKU</span></p></li>

                                        <li class="breadcrumb-item"><span class="d-inline">Janr: <a href="javascript:void(0)">@Model.Book.Category.Name</a></span></li>
                                    </ol>

                                </nav>

                            </div>

                            <div class="share-product-details">
                                <ul class="share-product-icons">
                                    <li><p>Nəşriyyat:</p></li>
                                    <li>@Model.Book.Publisher</li>

                                </ul>
                                <br />
                                <ul class="share-product-icons">
                                    <li><p>Yazıçı:</p></li>
                                    <li>@Model.Book.Author</li>

                                </ul>
                                <br />
                                <ul class="share-product-icons">
                                    <li><p>Səhvə sayı:</p></li>
                                    <li>@Model.Book.PageCount</li>

                                </ul>
                                <br />
                                <ul class="share-product-icons">
                                    <li><p>Paylaş:</p></li>
                                    <li><a href="javascript:void(0)" class="facebook-bg-hvr"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                    <li><a href="javascript:void(0)" class="twitter-bg-hvr"><i class="fab fa-twitter" aria-hidden="true"></i></a> </li>
                                    <li><a href="javascript:void(0)" class="linkedin-bg-hvr"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                                    <li><a href="javascript:void(0)" class="instagram-bg-hvr"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>

                                </ul>
                            </div>
                        </div>

                        <div class="col-12 mt-4 mb-4">
                            <div class="row no-gutters product-all-details">

                                <ul class="col-12 nav nav-tabs" id="myTab" role="tablist">
                                    <li class="col-6 nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Ətraflı məlumat</a>
                                    </li>
                                    <li class="col-6 nav-item">
                                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Rəylər  (@Model.Reviews.Count)</a>
                                    </li>
                                </ul>
                                <div class="col-12 tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <p class="product-tab-description text-center text-lg-left">@Model.Book.LongDescription</p>

                                    </div>

                                    <div class="tab-pane fade reviews" id="contact" role="tabpanel" aria-labelledby="contact-tab">


                                        @foreach (var reviews in Model.Reviews)
                                        {
                                            var date = DateTime.Now;
                                            var forUserRemainderHour = date.Hour - reviews.CreateAt.Hour;
                                            var forUserRemainderDay = date.Day - reviews.CreateAt.Day;

                                            if (forUserRemainderHour == 24)
                                                forUserRemainderHour = 0;

                                            if (forUserRemainderDay == 31)
                                                forUserRemainderDay = 0;

                                            <div class="row mb-5">
                                                <div class="col">
                                                    <div class="d-flex flex-start">

                                                        <div class="flex-grow-1 flex-shrink-1">

                                                            <div class="d-flex flex-start mt-4">
                                                                <a class="me-3">
                                                                    <img class="rounded-circle shadow-1-strong"
                                                                         src="https://th.bing.com/th/id/OIP.OTHx6upJeSBgJT-smbgXUwHaHa?pid=ImgDet&rs=1" alt="avatar"
                                                                         width="65" height="65" />
                                                                </a>
                                                                <div class="flex-grow-1 flex-shrink-1 ml-4">
                                                                    <div>
                                                                        <div class="d-flex justify-content-between align-items-center">
                                                                            <p class="mb-1">
                                                                                @reviews.Name <span class="small"> - @forUserRemainderDay gün @forUserRemainderHour saat əvvəl</span>
                                                                            </p>
                                                                        </div>
                                                                        <p class="small mb-0">
                                                                            @reviews.Comment
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        }


                                        <div class="row pl-2 pr-2">
                                            <div class="col-12 d-flex mb-4 mt-3">
                                                <h5 class="text-nowrap">Rəy əlavə edin</h5>
                                                <hr class="w-100 ml-5" />
                                            </div>

                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                string userName = User.FindFirstValue(ClaimTypes.Name);
                                                string userEmail = User.FindFirstValue(ClaimTypes.Email);

                                                <div class="col-12">
                                                    <form asp-controller="Review" asp-action="Comment" method="post" class="getin_form border-form" id="register">
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-12">
                                                                <div class="form-group bottom35">
                                                                    <input asp-for="@Model.Review.Name" class="form-control" value="@userName" readonly required id="registerName">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-sm-12">
                                                                <div class="form-group bottom35">
                                                                    <input asp-for="@Model.Review.Email" class="form-control" value="@userEmail" readonly required id="registerEmail">
                                                                </div>
                                                            </div>
                                                            @*<div class="col-12 col-lg-2 text-center text-lg-left">
                                                        <h5 class="text-nowrap">Your Rating</h5>
                                                        </div>
                                                        <div class="col-12 col-lg-10 text-center text-lg-left">
                                                        <ul class="user-rating">
                                                        <li><a href="#"><i class="lni-star-filled"></i></a></li>
                                                        <li><a href="#"><i class="lni-star-filled"></i></a></li>
                                                        <li><a href="#"><i class="lni-star-filled"></i></a></li>
                                                        <li><a href="#"><i class="lni-star-filled"></i></a></li>
                                                        <li><a href="#"><i class="lni-star"></i></a></li>
                                                        </ul>
                                                        </div>*@
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    @*<label for="comment">Your Rating:</label>*@
                                                                    <textarea asp-for="@Model.Review.Comment" class="form-control textareaclass" rows="5" id="comment" required placeholder="Sizin rəyiniz"></textarea>
                                                                </div>
                                                            </div>

                                                            <div class="col-12 mt-3">
                                                                <div class="form-group d-flex justify-content-center d-lg-block">
                                                                    <button asp-controller="Review" asp-action="Comment" asp-route-Id="@Model.Book.Id" class="text-center btn green-color-yellow-gradient-btn">Göndər</button>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </form>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-12">
                                                    <form class="getin_form border-form" id="register">
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-12">
                                                                <div class="form-group bottom35">
                                                                    <input class="form-control" placeholder="Ad*" readonly required="" id="registerName">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-sm-12">
                                                                <div class="form-group bottom35">
                                                                    <input class="form-control" placeholder="Email*" readonly required="" id="registerEmail">
                                                                </div>
                                                            </div>
                                                            @*<div class="col-12 col-lg-2 text-center text-lg-left">
                                                        <h5 class="text-nowrap">Your Rating</h5>
                                                        </div>
                                                        <div class="col-12 col-lg-10 text-center text-lg-left">
                                                        <ul class="user-rating">
                                                        <li><a href="#"><i class="lni-star-filled"></i></a></li>
                                                        <li><a href="#"><i class="lni-star-filled"></i></a></li>
                                                        <li><a href="#"><i class="lni-star-filled"></i></a></li>
                                                        <li><a href="#"><i class="lni-star-filled"></i></a></li>
                                                        <li><a href="#"><i class="lni-star"></i></a></li>
                                                        </ul>
                                                        </div>*@
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <!--                                                                            <label for="comment">Your Rating:</label>-->
                                                                    <textarea class="form-control textareaclass" rows="5" id="comment" readonly placeholder="Sizin rəyiniz"></textarea>
                                                                </div>
                                                            </div>

                                                            <div class="col-12 mt-3">
                                                                <div class="form-group d-flex justify-content-center d-lg-block">
                                                                    <a asp-controller="Account" asp-action="Login" class="text-center btn btn-danger">İstifadəçi kimi daxil olun</a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </form>
                                                </div>
                                            }

                                        </div>


                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>

    <!--START LATEST ARRIVALS-->
    <div class="lastest_arrivals">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-4">
                    <h1>Eyni Kateqoriyadan olan digər məhsullar</h1>
                </div>

                <div class="col-12">
                    <div class="lastest_featured_products owl-carousel owl-theme">

                        @foreach (var books in Model.Books)
                        {

                            <div class="lastest_arrival_items item">

                                <div class="card">
                                    <span class="product-type">NEW</span>

                                    <div class="image-holder">
                                        <a href="~/manage/img/book/@books.ImageUrl" data-fancybox="lastest_product" data-title="Shirt Name">
                                            <img src="~/manage/img/book/@books.ImageUrl" class="card-img-top" alt="Lastest Arrivals 1">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <a asp-controller="Home" asp-action="Detail">
                                                    <h5 class="card-title">
                                                        @books.Name
                                                    </h5>
                                                </a>
                                            </div>
                                            <div class="col-12 text-center">
                                                <p class="card-text"> @books.Price AZN</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--END LATEST ARRIVALS-->

</div>
<!-- END HEADING SECTION -->
<!--footer1 sec start-->
