@{
    ViewData["Title"] = "Kitablar";
}

@model ICollection<Book>
<!--BANNER START-->

<section id="slider-sec" class="slider-sec parallax" style="background: url('https://static.pexels.com/photos/267586/pexels-photo-267586.jpeg');">
</section>
<!--BANNER END-->
<!--START OUR SERVICES-->
<div class="our-services">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-12 col-lg-3">
                <div class="service">
                    <div class="media">
                        <div class="service-card">
                            <i class="fas fa-truck mr-3"></i>
                            <div class="media-body">
                                <h5 class="mt-0">Elmlər Akademiyası metrostansiyasına çatdırılma pulsuzdur</h5>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3">
                <div class="service">
                    <div class="media">
                        <div class="service-card">
                            <i class="fas fa-undo mr-3"></i>
                            <div class="media-body">
                                <h5 class="mt-0">Əlavə olaraq Rayonlara Poçt vasitəsilə çatdırılma mümkündür</h5>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3">
                <div class="service">
                    <div class="media">
                        <div class="service-card">
                            <i class="fas fa-piggy-bank mr-3"></i>
                            <div class="media-body">
                                <h5 class="mt-0">Ödənişi nəğd və ya kart vasitəsilə etmək mümkündür</h5>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3">
                <div class="service">
                    <div class="media">
                        <div class="service-card">
                            <i class="fas fa-hands-helping mr-3"></i>
                            <div class="media-body">
                                <a target="_blank" href="https://wa.me/+994556280899" class="mt-0">WhatsApp hesabımıza yazmaq üçün bura toxunun </a>
                                <a></a>
                                <font style="vertical-align: inherit;"></font>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END OUR SERVICES-->
<!-- START PORTOLIO SECTION -->
<div class="portfolio-section">
    <div class="container">
        <div class="row">

            <!-- START PORTFOLIO HEADING -->
            <div class="col-12">
                <div class="portfolioHeading text-center">
                    <h1 class="high-lighted-heading">MƏHSULLARIMIZ</h1>
                    <p>İkinci əl kitabların online satış platforması.</p>
                </div>
            </div>
             
            <!-- END PORTFOLIO HEADING -->
            <!-- START FILTERS -->
@*            <div class="col-12">
                <div class="clearfix d-flex justify-content-center">
                    <div id="js-filters-blog-posts" class="cbp-l-filters-button cbp-1-filters-alignCenter">
                        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">All </div>
                        <div data-filter=".Classic" class="cbp-filter-item">Classics</div>
                        <div data-filter=".Fantasy" class="cbp-filter-item">Fantasy</div>
                        <div data-filter=".motion" class="cbp-filter-item">Historical Fiction</div>
                    </div>
                </div>
            </div>*@
            <!-- END FILTERS -->


            @*//////////////////////////////////////////*@
            <!-- Products Start -->
            <div class="container-fluid pt-5 pb-3">
                <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Featured Products</span></h2>
                <div class="row px-xl-5">
                    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="~/slider/img/product-1.jpg" alt="">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small>(99)</small>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Products End -->
            @*//////////////////////////////////////////*@




            <!-- START PORTFOLIO IMAGES -->
   @*          <div class="col-12">
                <div id="js-grid-blog-posts" class="cbp">
                    @foreach (var books in Model)
                    {
                        <div class="cbp-item">
                            <div class="cbp-caption-defaultWrap  owl-theme sync-portfolio-carousel owl-carousel">
                                <div class="item"> <a href="~/manage/img/book/@books.ImageUrl" class="cbp-caption" data-fancybox="gallery1" data-title="Book 1"><img src="~/manage/img/book/@books.ImageUrl" alt="Book 1"></a></div>

                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <div class="cbp-l-grid-blog-title"><a asp-controller="Home" asp-action="Detail" asp-route-Id="@books.Id" class="portfolio-title">@books.Name</a></div>
                                    <div class="cbp-l-grid-blog-title"><a asp-controller="Home" asp-action="Detail" asp-route-Id="@books.Id" class="portfolio-title">@books.ShortDescription</a></div>
                                </div>
                                <div class="col-12 text-center">
                                    <div class="cbp-l-grid-blog-desc portfolio-des">@books.Price AZN</div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div> *@
            <!-- Vendor Start -->
            <div class="container-fluid py-5">
                <div class="row px-xl-5">
                    <div class="col">
                        <div class="owl-carousel vendor-carousel">
                            <div class="bg-light p-4">
                                <img src="~/slider/img/vendor-1.jpg" alt="">
                            </div>
                            <div class="bg-light p-4">
                                <img src="~/slider/img/vendor-1.jpg" alt="">
                            </div>
                            <div class="bg-light p-4">
                                <img src="~/slider/img/vendor-1.jpg" alt="">
                            </div>
                            <div class="bg-light p-4">
                                <img src="~/slider/img/vendor-1.jpg" alt="">
                            </div>
                            <div class="bg-light p-4">
                                <img src="~/slider/img/vendor-1.jpg" alt="">
                            </div>
                            <div class="bg-light p-4">
                                <img src="img/vendor-6.jpg" alt="">
                            </div>
                            <div class="bg-light p-4">
                                <img src="img/vendor-7.jpg" alt="">
                            </div>
                            <div class="bg-light p-4">
                                <img src="img/vendor-8.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Vendor End -->
            <!-- END PORTFOLIO IMAGES -->

        </div>
    </div>
</div>
<!-- END PORTOLIO SECTION -->
<!--START LATEST ARRIVALS-->
<!--END LATEST ARRIVALS-->