﻿@{
    ViewData["Title"] = "Kitablar";
}

@model HomeVM

<!--Slider START-->
<section>
    <div id="slider-sec" class="slider-sec parallax slider-area">
        <!-- Main Slider -->
        <div class="swiper-container main-slider swiper-arrow with-bg_white swiper-container-fade swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
            <div class="swiper-wrapper" id="swiper-wrapper-d41e983cec75651d" aria-live="off" style="transition-duration: 0ms;">

                @foreach (var books in Model.Books.Take(3).OrderByDescending(b => b.Id))
                {

                    <div class="swiper-slide animation-style-01 swiper-slide-duplicate-active" data-swiper-slide-index="0" role="group" aria-label="2 / 4" style="width: 4304px; opacity: 0; transform: translate3d(-4304px, 0px, 0px); transition-duration: 0ms;">
                        <div class="slide-inner style-1 bg-height" data-bg-image="" style="background-image: url();">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 order-2 order-lg-1 align-self-center">
                                        <div class="slide-content text-black">
                                            <span class="offer">@books.Price AZN</span>
                                            <h2 class="title">@books.Name</h2>
                                            <p class="short-desc">
                                                @books.ShortDescription
                                            </p>
                                            <div class="btn-wrap">
                                                <a class="btn btn-custom-size xl-size btn-pronia-primary" asp-controller="Home" asp-action="Detail" asp-route-id="@books.Id">Ətraflı</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-8 offset-md-2 offset-lg-0 order-1 order-lg-2">
                                        <div class="inner-img">
                                            <div class="scene fill" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; position: relative; pointer-events: none;">
                                                <div class="expand-width" data-depth="0.2" style="transform: translate3d(-11.4px, 4.5px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
                                                    <img src="~/manage/img/book/@books.ImageUrl" alt="Inner Image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }


            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination d-md-none swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span></div>

            <!-- Add Arrows -->
            <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-d6e1afa91005106995"></div>
            <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-d6e1afa91005106995"></div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>
    </div>
</section>
<!--Slider END-->
<!--START OUR SERVICES-->
<div class="our-services">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-12 col-lg-3">
                <div class="service">
                    <div class="media">
                        <div class="service-card">
                            <i class="fas fa-truck mr-3"></i>
                            <div class="media-body">
                                <h5 class="mt-0">Elmlər Akademiyası metrostansiyasına çatdırılma pulsuzdur.</h5>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3">
                <div class="service">
                    <div class="media">
                        <div class="service-card">
                            <i class="fas fa-undo mr-3"></i>
                            <div class="media-body">
                                <h5 class="mt-0">Əlavə olaraq Rayonlara Poçt vasitəsilə çatdırılma mümkündür</h5>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3">
                <div class="service">
                    <div class="media">
                        <div class="service-card">
                            <i class="fas fa-piggy-bank mr-3"></i>
                            <div class="media-body">
                                <h5 class="mt-0">Ödənişi nəğd və ya kart vsitəsilə etmək mümkündür</h5>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3">
                <div class="service">
                    <div class="media">
                        <div class="service-card">
                            <i class="fas fa-hands-helping mr-3"></i>
                            <div class="media-body">
                                <a target="_blank" href="https://wa.me/+994556280899" class="mt-0">WhatsApp hesabımıza yazmaq üçün bura toxunun </a>
                                <a></a>
                                <font style="vertical-align: inherit;"></font>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END OUR SERVICES-->
<!-- START PORTOLIO SECTION -->
<div class="portfolio-section" style="display:block;justify-content:center">
    <div style="margin-bottom:15px;" class="container">
        <div class="row container-md">

            <!-- START PORTFOLIO HEADING -->
            <div class="col-12">
                <div class="portfolioHeading text-center">
                    <h1 class="high-lighted-heading">MƏHSULLARIMIZ</h1>
                    <p>İkinci əl kitabların online satış platforması.</p>
                </div>
            </div>
            <!-- END PORTFOLIO HEADING -->
            <!-- START FILTERS -->
            @*            <div class="col-12">
            <div class="clearfix d-flex justify-content-center">
            <div id="js-filters-blog-posts" class="cbp-l-filters-button cbp-1-filters-alignCenter">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">All </div>
            <div data-filter=".Classic" class="cbp-filter-item">Classics</div>
            <div data-filter=".Fantasy" class="cbp-filter-item">Fantasy</div>
            <div data-filter=".motion" class="cbp-filter-item">Historical Fiction</div>
            </div>
            </div>
            </div>*@
            <!-- END FILTERS -->
            <!-- START PORTFOLIO IMAGES -->
            <div class="row text-center container" style="justify-content:center">
                @foreach (var books in Model.PaginationBooks.Items)
                {
                    <div class="card" style="width: 16rem;margin:10px">
                        <img class="card-img-top" style="width:100%" src="~/manage/img/book/@books.ImageUrl">
                        <div class="card-body">
                            <h5 class="card-title">@books.Name</h5>
                            <p class="card-text">@books.Price AZN</p>
                            <a asp-controller="Home" asp-action="Detail" asp-route-id="@books.Id" class="btn btn-primary">Ətraflı</a>
                        </div>
                    </div>
                }
            </div>

            <!-- END PORTFOLIO IMAGES -->
        </div>
    </div>

    <nav style="display:flex;justify-content:center" aria-label="Page navigation example">
        <ul class="pagination">
            @if (Model.PaginationBooks.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-page="@(Model.PaginationBooks.CurrentPage - 1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            }
            @for (int i = 1; i <= Model.PaginationBooks.MaxPageCount; i++)
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@i">@i</a></li>
            }
            @if (Model.PaginationBooks.CurrentPage < Model.PaginationBooks.MaxPageCount)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-page="@(Model.PaginationBooks.CurrentPage + 1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>


<hr />
<!-- Back to Top -->
@section AddCss{

    <!-- CSS
    ============================================ -->

    <link rel="stylesheet" href="~/assets/css/Pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="~/assets/css/animate.min.css" />
    <link rel="stylesheet" href="~/assets/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/assets/css/nice-select.css" />
    <link rel="stylesheet" href="~/assets/css/magnific-popup.min.css" />
    <link rel="stylesheet" href="~/assets/css/ion.rangeSlider.min.css" />

    <!-- Style CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css" />

}

@section Scripts{

    <!-- JS Files
    ============================================ -->

    <script src="~/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="~/assets/js/vendor/jquery.waypoints.js"></script>
    <script src="~/assets/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="~/assets/js/plugins/wow.min.js"></script>
    <script src="~/assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="~/assets/js/plugins/jquery.nice-select.js"></script>
    <script src="~/assets/js/plugins/parallax.min.js"></script>
    <script src="~/assets/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/plugins/tippy.min.js"></script>
    <script src="~/assets/js/plugins/ion.rangeSlider.min.js"></script>
    <script src="~/assets/js/plugins/mailchimp-ajax.js"></script>
    <script src="~/assets/js/plugins/jquery.counterup.js"></script>

    <!--Main JS (Common Activation Codes)-->
    <script src="~/assets/js/main.js"></script>



}