@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<Book>
<h1>Index</h1>

@*<main id="main" class="main">

    <div class="pagetitle">
        <h1>Data Tables</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item">Books</li>
                <li class="breadcrumb-item active">see</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Books</h5>

                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Position</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Start Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var books in Model)
                                {
                                    <tr>
                                        <th scope="row">@books.Id</th>
                                        <td>@books.Name</td>
                                        <td>Designer</td>
                                        <td>28</td>
                                        <td>2016-05-25</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->
                        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
                    </div>
                </div>

            </div>
        </div>
    </section>

</main>*@

<!-- End #main -->
<!-- ======= Footer ======= -->

<main id="main" class="main">

    <div class="pagetitle">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="Manage" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item">Book</li>
                <li class="breadcrumb-item active">See</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12 container">

                <div class="card container">
                    <div class="card-body">
                        <h5 class="card-title">Books</h5>
                        <!-- Active Table -->
                        <table id="tbl1" class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Short Description</th>
                                    <th scope="col">Price</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var books in Model ?? new List<Book>())
                                {
                                    <tr>
                                        <th scope="row">@books.Id</th>
                                        <th scope="row"><img style="width:70px;" src="~/manage/img/book/@books.ImageUrl" /></th>
                                        <td>@books.Name</td>
                                        <td>@books.ShortDescription</td>
                                        <td>@books.Price</td>
                                        <td><a asp-area="Manage" asp-controller="Book" asp-action="Delete" asp-route-Id="@books.Id" class="btn btn-danger" title="Remove"><i class="bi bi-trash"></i></a></td>
                                        <td><a asp-area="Manage" asp-controller="Book" asp-action="Edit" asp-route-Id="@books.Id" class="btn btn-warning" title="Edit"><i class="bx bxs-edit"></i></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!-- End Tables without borders -->

                    </div>
                </div>


            </div>


        </div>
    </section>

</main>
@section Css{

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
}

@section Scripts{
    <script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <script>
        $('#tbl1').Datatable();
    </script>
}